# Binaries
/bin/
*.exe
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.html

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.core/
.lintdeps/
.scannerwork/
node_modules/
node_modules.bak/
dist/
__pycache__/
*.pyc
coverage/
htmlcov/
.coverage
